<!--<p>payment-details works!</p>-->
<h1>Card Details Required!</h1>
<div class= "container">
<form (ngSubmit) = "onSubmit(f)" #f="ngForm">

    <!-- cnumber -->
    <div class="field">
        <label for="cnumber">Card Number:</label> 
        <input type="text" 
        name="cnumber" 
        class="input" 
        placeholder="Your Card details"
        ngModel
        required minlength="16"
        required maxlength="16"

        #cnumber="ngModel">
    </div>
    <div class= "error-msg" *ngIf="!cnumber.valid && cnumber.touched">* Please enter a valid Card Number>
      <div class ="error-msg" *ngIf = "cnumber >= minlength">The Card Number should be of 16 digits</div>
    </div>
    <!-- cname -->
    <div class="field">
        <label for="cname">Card Name:</label> 
        <input type="text" 
        name="cname" 
        class="input"
        ngModel
        required
        #cname="ngModel" 
        placeholder="Your Card Name">
      </div>
      <span class= "error-msg" *ngIf="!cname.valid && cname.touched">* Please enter a valid Card Name</span>
    <!-- expiery -->
    <div class="field">
        <label for="expDate" ng-class="{'show': expDate}">Expiration Date:</label>
        <input type="text-1" 
        name="expDate" 
        class="input" 
        ngModel
        required
        #expDate="ngModel"
        placeholder="MM/YY">
    </div>
    <span class= "error-msg" *ngIf="!expDate.valid && expDate.touched">* Please enter a valid Date</span>
    <!-- cvv -->
    <div>
        <label for="cvv">CVV:</label> 
        <input type="number" 
        name="cvv" 
        class="input" 
        ngModel
        required 
        minlength="3"
        maxlength="4"
        #cvv="ngModel"
        placeholder="">
    </div>

    
    <div class= "error-msg" *ngIf="!cvv.valid && cvv.touched">* Please enter a valid CVV
      <div class = "error-msg" *ngIf="!cvv.valid.maxlength">CVV should be 3 digits</div>
    </div>
  <div>
    <button type="submit" class="nxt-btn" routerLink="">Back</button>
    <button type="submit" class="nxt-btn-1" routerLink="/response">Submit</button>
  </div>
  </form>
</div>