h1{
    text-align: center;
}
form{
    text-align: center;
}

.container {
    border-radius: 5px;
    background-color:#2a9d8f;
    padding: 100px;
    margin-right: 30px;
    margin-left: 30px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
  }
  input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    margin-top: 15px;
    background-color: #f1faee;
  }
 
  input[type=text-1] {
    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    margin-top: 15px;
    background-color: #f1faee;
  }
 

  .nxt-btn {
    background-color: #264653;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }

  .nxt-btn-1 {
    background-color: #264653;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 2%;
  }
  .error-msg{
    color: #800000;
  }